<%- include header %>
    <%- include nav %>
    <% if (err) { %>
      <div class="container mt-5 mb-5 p-4 category alert alert-dark">
        <h2 class="text-center text-danger"><%= err %> </h2>
      </div>
    <% } else { %>
    <div class="container mt-5 mb-5 p-4 category alert alert-dark">
        <% if (author) { %>
          <div class="text-center">
            <% if (author.avatar) { %>
              <img src="/uploads/<%= author.avatar %>"  alt="avatar" style="width: 70px; height: 70px; border-radius: 70px;">
              <% } else { %>
                <img src="/images/avatar.jpg"  alt="avatar" style="width: 70px; height: 70px; border-radius: 70px;">
            <% } %>

            <h4><%= author.authorName %> </h4>
            <h6 class="text-black-50"><%= author.job %> </h6>
          </div>
          <div style="text-shadow: 0px 0px 0px white;"><%= author.intro %> </div>
        <% } %>
    </div>
    
    <!--main-->
    <main class="main">
        <div class="container">
          <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
              <!--card-->
              <% if (data) { %>
                <% data.forEach(item=> { %>
                    <div class="col">
                  <div class="card mb-4" style="height: 500px;">
                    <div class="card-header"><%= item.categoryName %> </div>
                    <a href="/detailBlog/<%= item.idpost %> ">
                      <img
                        src="https://itviec.com/blog/wp-content/uploads/2021/05/machine-learning-la-gi-thumbnail-1-1.jpg"
                        class="card-img-top" alt="img">
                    </a>
                    <div class="card-body">
                        <a href="/detailBlog/<%= item.idpost %> " style="text-decoration: none;">
                            <h2 class="card-title h4"><%= item.title %> </h2>
                        </a>
                      <h6 class="card-subtitle mb-2 text-muted">
                        <img src="https://itviec.com/blog/wp-content/uploads/2021/03/blog-avatar.jpg" alt="">
                        <%= item.authorName %> 
                      </h6>
                      
                      <span class="card-text"><%- item.pre.slice(0,99) + ' ...' %> </span>
                      
                    </div>
                    
                  </div>
                </div>
                  <% }) %>
              <% } %>
              <!--card-->
            
          </div>
        </div>
    </main>
    <!--main-->
    <% } %> 
<%- include footer %> 