<%- include('header') %>
  <%- include('nav')  %> 
  <!--main-->
  <main class="main pt-4">
    <div class="container">
      <div class="row">
          <% if (data) { %>
            <div class="col-md-9">
              <div class="card mb-4">
                <% if (data.statusErr) { %>
                  <div class="alert alert-danger text-center p-5 m-5"><%= data.err %> </div>
                  <% } else { %>
                
                  <div class="card-header">
                      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><%= data.categoryName %> </li>
                          </ol>
                        </nav>
                  </div>
                  <img src="<%= data.bg_image %>"
                    class="card-img-top" alt="img">
                  
                  <div class="card-body">
                    <h2 class="card-title h2"><%= data.title %> </h2>
                    <h6 class="card-subtitle mb-2 text-muted">
                      <a href="/author/<%= data.idAuthor %>">
                      <img src="/uploads/<%= data.avatar %> " alt="<%= data.avatar %>">
                      <%= data.authorName %></a>
                    </h6>
                    <%- data.content %> 
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated <%= data.updated_at %> </small>
                  </div>
                  <% } %>
                </div>
          </div>
          <% } %>
          <%- include sideBar %> 
      </div>
    </div>
  </main>
  <!--main-->
  <%- include('footer') %>