<%- include('header') %>
  <%- include('nav') %>
  <% if (data.statusErr) { %>
    <div class="alert alert-danger text-center p-5 m-5"><%= data.err %> </div>
  <% } else { %>
   
    <!--main-->
    <main class="main pt-4">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <!--card-->
            <% if (data) { %>
              <% data.forEach(item=> { %>
                <div class="card mb-4">
                  <div class="card-header"><%= item.categoryName %> </div>
                  <a href="/detailBlog/<%= item.idpost %> ">
                    <img
                      src="<%= item.bg_image %> "
                      class="card-img-top" alt="img">
                  </a>
                  <div class="card-body">
                    <h2 class="card-title h2"><%= item.title %> </h2>
                    <h6 class="card-subtitle mb-2 text-muted">
                      <a href="/author/<%= item.idAuthor %> ">
                        <img src="https://itviec.com/blog/wp-content/uploads/2021/03/blog-avatar.jpg" alt="">
                        <%= item.authorName %> 
                      </a>
                    </h6>
                    <span class="card-text"><%- item.pre %> </span>
                    <a href="/detailBlog/<%= item.idpost %> " class="btn btn-danger float-end">Đọc tiếp ...</a>
                  </div>
                  <div class="card-footer">
                    <% 
                      var updated_at = item.updated_at;
                      var year = updated_at.getFullYear();
                      var month = updated_at.getMonth() + 1;
                      var day = updated_at.getDate();
                      updated_at = day + '/' + month + '/' + year;
                    %> 
                    <small class="text-muted">Cập nhập <%- updated_at %> </small>
                  </div>
                </div>
                <% }) %>
                <nav aria-label="..." class="container" id="pagination">
                  <ul class="pagination">
                    <li class="page-item <% if (currentPage == 1) { %>
                      disabled
                    <% } %>">
                    <a class="page-link" href="/?page=<%= currentPage -1 %>">Previous</a>
                    </li>

                    <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled">...</li>
                    <% } %>
                    <% for (; i <= (Number(currentPage) + 4) && i <= totalPage; i++) { %>
                      <li class="page-item <% if (i == currentPage) { %>
                        active
                        <% } %>">
                          <a class="page-link" href="/?page=<%= i %>"><%= i %> </a>
                        </li>
                        <% if (i == Number(currentPage) + 4 && i < totalPage) { %>
                            <li class="disabled">...</li>
                        <% } %>
                    <% } %>
                    
                    <li class="page-item <% if (currentPage == totalPage) { %>
                      disabled
                    <% } %>">
                      <a class="page-link " href="/?page=<%= currentPage +1 %>">Next</a>
                    </li>
                  </ul>
                </nav>
                <% } else { %>
                 <div class="text-center text-danger">Không tìm thấy bài viết</div>
            <% } %>
            <!--card-->
          </div>
          <div class="col-md-3 ml-auto hine">
            <aside class="sidebar">
              <div class="card mb-4">
                <div class="card-body">
                  <h4 class="card-title">About</h4>
                  <p class="card-text">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam <a
                      href="#">semper libero</a>, sit amet adipiscing sem neque sed ipsum. </p>
                </div>
              </div><!-- /.card -->
            </aside>
            <aside class="sidebar sidebar-sticky">
              <div class="card mb-4">
                <div class="card-body">
                  <h4 class="card-title">Tags</h4>
                  <a class="btn btn-light btn-sm mb-1" href="#">Journey</a>
                  <a class="btn btn-light btn-sm mb-1" href="#">Work</a>
                  <a class="btn btn-light btn-sm mb-1" href="#">Lifestype</a>
                  <a class="btn btn-light btn-sm mb-1" href="#">Photography</a>
                  <a class="btn btn-light btn-sm mb-1" href="#">Food &amp; Drinks</a>
                </div>
              </div><!-- /.card -->
              <div class="card mb-4">
                <div class="card-body">
                  <h4 class="card-title">Popular stories</h4>

                  <a href="#" class="d-inline-block">
                    <h4 class="h6">The blind man</h4>
                    <img class="card-img" src="img/articles/2.jpg" alt="">
                  </a>
                  <time class="timeago" datetime="2019-10-03 20:00" timeago-id="5">1 year ago</time> in Lifestyle

                  <a href="#" class="d-inline-block mt-3">
                    <h4 class="h6">Crying on the news</h4>
                    <img class="card-img" src="img/articles/3.jpg" alt="">
                  </a>
                  <time class="timeago" datetime="2019-07-16 20:00" timeago-id="6">1 year ago</time> in Work

                </div>
              </div><!-- /.card -->
            </aside>
          </div>
        </div>
      </div>
    </main>
    <!--main-->
    <% } %>
<%- include('footer') %>
