<%- include('header')  %>
    <%- include('nav')  %>
    
    <div class="container m-5">
        <form action="/author/info?_method=PUT" method="POST" enctype="multipart/form-data" id="form-edit">
            <div class="text-center mb-3">
                <img src="/uploads/<%= data.avatar %> " id="img-avatar" alt="avatar" style="width: 100px; height: 100px; border-radius: 100px; margin: 10px;box-shadow: 2px 2px 2px black;">
                <br>
                <input type="file" id="avatar" name="avatar" style="display: none;">
                <label for="avatar">Đổi hình</label>
            </div>
            <input type="text" class="form-control" id="idAuthor" name="idAuthor"  value="<%= data.idAuthor %>" hidden>
            <div class="row row-cols-md-2 row-cols-1">
                <div class="col mb-3">
                    <label for="accountName">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="accountName" name="accountName" placeholder="Tên đăng nhập" value="<%= data.accountName %>">
                </div>
                <div class="col mb-3">
                    <label for="pass">Mật khẩu</label>
                    <!-- <input type="password" class="form-control" id="pass" name="pass" placeholder="Mật khẩu" value="<%= data.pass %>"> -->
                    <br>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#passModal">Đổi mật khẩu</button>
                </div>
                <div class="col mb-3">
                    <label for="authorName">Tên tác giả</label>
                    <input type="text" class="form-control" id="authorName" name="authorName" placeholder="Tên tác giả" value="<%= data.authorName %>">
                </div>
                <div class="col mb-3">
                    <label for="job">Nghề nghiệp</label>
                    <input type="text" class="form-control" id="job" name="job" placeholder="Nghề nghiệp" value="<%= data.job %>">
                </div>
                <div class="mb-3" style="width: 100%;">
                    <label for="intro">Giới thiệu</label>
                    <textarea class="form-control" placeholder="Giới thiệu" id="intro" name="intro" rows="5"><%= data.intro %></textarea>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-success btn-edit">Cập nhật</button>
            </div>
        </form>
    </div>
    <!--Modal change pass-->
    <div class="modal fade" id="passModal" tabindex="-1" aria-labelledby="passModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="passModalLabel">Thay đổi mật khẩu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="passOld" class="col-form-label">Mật khẩu cũ:</label>
                  <input type="password" class="form-control" id="passOld">
                </div>
                <div class="mb-3">
                  <label for="newPass" class="col-form-label">Mật khẩu mới:</label>
                  <input type="password" class="form-control" id="newPass"/>
                </div>
                <div class="mb-3">
                  <label for="newPassO" class="col-form-label">Xác nhận mật khẩu:</label>
                  <input type="password" class="form-control" id="newPassO"/>
                  <label id="mess-repass" class="text-danger d-none"></label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-closed" data-bs-dismiss="modal">Đóng</button>
              <button type="button" class="btn btn-primary btn-oke">Xác nhận</button>
            </div>
          </div>
        </div>
      </div>
<%- include('footer')  %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script>
    $(document).ready(function () {
        $('#avatar').change((e) =>{
        if ($('#avatar').val() != '') {
            var ext = $('#avatar').val().split('.').pop().toLowerCase();
            if ($.inArray(ext,['jpg','jpeg','png']) == -1) {
                alert('Chỉ hỗ trợ nhận dạng ảnh JPG, JPEG, PNG');
                $('#avatar').val('');
            } else {
                $('#img-avatar').attr('src',URL.createObjectURL(e.target.files[0]));
            }
        } else {
            
        }
    })
        $('#form-edit').submit(() =>{
            $(this).ajaxSubmit({
                success: function(res){
                    if (res && res.status == 200) {
                        location.reload();
                        return;
                    }
                    location.reload();
                },
                error: function(e){
                    location.reload();
                }
            })
        })
        });
        $('#passModal').on('show.bs.modal', function (event) {
            // Button that triggered the modal
            $(this).find('#newPassO').keyup(()=>{
                var newPass = $('#newPass').val();
                var rePass = $('#newPassO').val();
                var messRe = $('#mess-repass');
                if ($.trim(newPass) !== $.trim(rePass)) {
                    messRe.removeClass('d-none');
                    messRe.text('Nhập lại mật khẩu không chính xác');
                }else{
                    messRe.text('');
                    messRe.addClass('d-none');
                }
            });
            $('.btn-oke').click(() =>{
                var oldPass = $('#passOld').val();
                var newPass = $('#newPass').val();
                var rePass = $('#newPassO').val();
                var messRe = $('#mess-repass');
                messRe.text('');
                if ($.trim(oldPass) === '' || $.trim(newPass) === '' || $.trim(rePass) === '' ) {
                    messRe.removeClass('d-none');
                    messRe.text('Vui lòng nhập đủ các trường');
                    return;
                }
                if ($.trim(messRe.text()) !== '') {
                    return;
                }
                $.ajax({
                type: "PUT",
                url: "/author/info/change-pass",
                data: {
                    passOld: oldPass,
                    passNew: newPass,
                },
                dataType: "JSON",
                success: function (response) {
                    if (response.status === 200 && response.success === 0) {
                        alert('Mật khẩu không chính xác');
                        return;
                    }
                    $('.btn-closed').click();
                    alert("Đổi mật khẩu thành công");
                }
            });
        
            })
            
        })
</script>
